$border-color: #eee;
$font-family: Helvetica, sans-serif;
$main-color: #3c3c3c;

$contact-card-width: 220px;
$contact-card-height: 290px;

$profile-image-height: 200px;
$contact-name-font-size: 16px;
$contact-description-font-size: 12px;
$contact-description-color: #a2a2a2;